<!-- Import the component -->
<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.1.1/model-viewer.min.js"></script>

<!-- Use it like any other HTML element -->
<div class="model-viewer">

<style>
    model-viewer {
        width: 800px;
        height: 600px;
    }
</style>

<p>hello</p>

<model-viewer 
alt="Neil Armstrong's Spacesuit from the Smithsonian Digitization Programs Office and National Air and Space Museum" 
src="https://skfb.ly/oISFt" 
poster="../../../static/cad/portfolio/campSun.png" 
shadow-intensity="1" 
camera-controls 
touch-action="pan-y"
background-color="#d8cc9c"
>

<div class="progress-bar hide" slot="progress-bar">
    <div class="update-bar"></div>
</div>

</model-viewer>
</div>
<!--https://modelviewer.dev/shared-assets/models/shishkebab.glb-->
<!--../../../static/cad/portfolio/{{index .Params 0}}.glb-->
<p>this short code is still running! RAHH</p>

<img src="static/images/logo.png" alt="rahhhhh path" style="width:500px;height:500px;">


<!-- ../../static/cad/portfolio/campSun.png -->